.card-recipes {
  flex: 1 1 20%;
  height: 300px;

  max-width: 240px;

  align-items: center;
  justify-content: space-between;

  margin-top: 20px;
  gap: 10px;
  border-radius: 5px;
  box-shadow: 2px 2px 3px grey;
}
.phot {
  align-items: flex-start;
}

.phot img {
  width: 192px;
}

.descript {
  font-size: 15px;

  margin: 25px;
}
.descript button {
  width: 100px;
}
