.App {
  text-align: center;
  background: #ffffff;
}
.App-header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
}
.App-main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-footer {
  display: flex;
  justify-content: center;
  height: 60px;
  text-align: center;
}
